{
  "extends": "loopback",
  "rules": {
    "max-len": ["error", 100, 4, {
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignorePattern": "^\\s*var\\s.+=\\s*(require\\s*\\()|(/)"
    }],
  "no-unused-expressions": "off",
  }
}
