# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precendence.

# Current maintainers

* @bajtos @fabien @clarkorz @ebarault @zbarbuto @nitro404

# Alumni

_ @lehni
